<section id="dialog"></section>
<section id="bg_ad_bttn">
	<a href="#"> <img src="/assets/buttons/bg_ad_bttn/hover_bg_ad_bttn.png"/></a>
</section>
<section id="ad_bttn">
	<a href="#"> <img src="/assets/buttons/ad_bttn/hover_ad_bttn.png"/></a>
</section>
<section id="partner_bttn">
	<a href="#"> <img src="/assets/buttons/partner_bttn/hover_partner_bttn.png"/></a>
</section>