<section id="term" >
	<section id="term_header" class="center">
		<h3> Policy</h3>
	</section>

	<section id="term_text">

		<p>
			After a successful career on Bay St., Joe Canavan left his job as CEO of Assante Wealth Management in 2009. At age 47, he was looking to find another business venture.
			Instead, he used his leadership skills to turn the Children’s Aid Foundation into a fundraising and social media powerhouse.
		</p>
		“Joe translates well into the not-for-profit world. He’s driven, passionate, caring and a great salesman,” says Laura Dottori-Attanasio, chief risk officer at CIBC and chair of the foundation’s fundraising committee.
		The Children’s Aid Foundation raises money from donors to help improve the lives of abused, neglected and at-risk children and teens. Started in 1979, it granted $6.3 million in the last fiscal year to almost 20,000 young people.
	</section>
</section>
