
<section id="signup" >
	<section id="signup_all">
		<section id="signup_logo">

			<section id="signup_logoText">
				<p class="header">
					Welcome!
				</p>
			</section>

			<p class="regular">
				Thank you for registering with clickprice.com.
				A confirmation email has been sent to you. Please confirm the registration
			</p>
			<p class="regular">
				If did not receive conformation email, please click
				<%=controller_name%>
				<!-- <%=devise_mapping.confirmable%>
				<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
				<%= link_to "Resend", new_confirmation_path(resource_name), :class => 'regularBold'  %>

				<br />
<% end%> -->
			</p>
		</section>
		<section id="signup_field">

		</section>
	</section>
</section>


