<section id="signup" >
	<section id="thank_all">
		<section id="signup_logo">
			<section class="collision"></section>
			<section id="signup_logoText">
				<p class="header">
					Welcome!
				</p>
			</section>
		</section>
		<section id="thank_text">
			<p>
				Thank you for registering Clickpricecheck.com.
				A confirmation e-mail has been sent sent to you.
				Please confirm registration.
			</p>
			<p>
				If you do not see the confirmation e-mail in your inbox, please check in your spam folder.
			</p>
			<p>
				If problem persists, Please e-mail to support@clickpricecheck.com.
			</p>
		</section>
	</section>

</section>
