<section id="signup_logo">
	<section class="collision"></section>
	<section id="signup_logoText">
		<p class="header">
			Welcome!
		</p>
	</section>

</section>

<p>
	Welcome <%= @email %>!
</p>

<p>
	You can confirm your account email through the link below:
</p>

<p>
	<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %>
</p>
